<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.x61.mapper.UserMapper">
    <insert id="CreateUser" useGeneratedKeys="true" keyProperty="userId" keyColumn="user_id">
        insert into user(name, password, email, start_time)
        values (#{user.name}, #{user.password}, #{user.account}, #{user.startTime})
    </insert>
    <insert id="RegisterPhone" useGeneratedKeys="true" keyProperty="userId" keyColumn="user_id">
        insert into user(phone_number, start_time)
        values (#{user.phoneNumber}, #{user.startTime})
    </insert>
    <insert id="RegisterWechat" useGeneratedKeys="true" keyProperty="userId" keyColumn="user_id">
        insert into user(open_id, start_time)
        values (#{user.openId}, #{user.startTime})
    </insert>
    <select id="FindByAccount" resultType="com.x61.bean.User">
        select password, user_id, state
        from user
        where phone_number = #{account}
           or email = #{account}
    </select>
    <update id="AfterLoginAdd">
        update user
        set last_login_time=#{user.lastLoginTime},
            count=#{user.count}
        where user_id = #{user.userId}
    </update>
    <select id="FindByUserId" resultType="com.x61.bean.User">
        select phone_number, email
        from user
        where user_id = #{userId}
    </select>
</mapper>